:root {
    --color-green:#31c48d;
    --color-white: #ffffff;
    --color-dark-grey: #33333d;
    --color-medium-grey: #424250;
    --color-light-grey: #d2d6dc;
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: var(--color-medium-grey);
    color: var(--color-white);
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*------Header-----*/
.header {
    text-align: center;
}

/*---Controls----*/
.controls {
    background: yellow;
}

/*------Counter----*/

.counter {
    background: var(--color-dark-grey);
}

.counter_value {
    width: 100%;
    height: 15rem;
    text-align: center;
    font-weight: 900;
    color:var(--color-white);
    background: none;
    font-size: 6rem;
    border-width:0;
    border-bottom: 1px solid var(--color-light-grey);
} 

.counter_action {
display: flex;
}

.conter_button {
    width: 50%;
    background: none;
    border-width: 0;
    color: var(--color-light-grey);
    font-size: 3rem;
    height: 10rem;
}

.conter_button_first {
    border-right: 1px solid:var(var(--color-light-grey));
}

.footer {
    background: var(--color-dark-grey);
    color: var(--color-medium-grey);

}
